h2 {
  font-size: 28px;
}
@media screen and (max-width: 679px) {
  h2 {
    font-size: 16px;
  }
}

h3 {
  font-size: 20px;
}
@media screen and (max-width: 679px) {
  h3 {
    font-size: 14px;
  }
}

p {
  font-size: 15px;
}
@media screen and (max-width: 679px) {
  p {
    font-size: 13px;
  }
}

#content {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 679px) {
  #content {
    padding-top: 20px;
  }
}

.row.align-rtl {
  direction: rtl;
}
.row.align-rtl [class*=col-] {
  direction: ltr;
}

.detail h3 {
  margin: 30px 0 20px;
}
@media screen and (max-width: 679px) {
  .detail h3 {
    margin: 20px 0 7px;
  }
}
.detail .img-sm {
  max-width: 490px;
  display: block;
  margin: 0 auto;
}
.detail .box-main {
  margin-bottom: 15px;
}
@media screen and (max-width: 679px) {
  .detail .box-main {
    margin-bottom: 0;
  }
}
.detail .btn-filled {
  margin-top: 0;
}
@media screen and (max-width: 679px) {
  .detail .list-ol {
    margin: 6px 0 12px;
  }
}

.detail-title h2 {
  margin-top: 20px;
  margin-left: -17px;
}
@media screen and (max-width: 679px) {
  .detail-title h2 {
    margin-left: 0;
    margin-top: 9px;
  }
}
.detail-title img {
  position: relative;
}
.detail-title img.recommended:after {
  content: "Recommended";
  background: url("/img/recommend.png") no-repeat left top;
  background-size: 100% 100%;
  height: 34px;
  width: 151px;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 1010;
  padding: 8px 26px;
  font-size: 14px;
}

.detail-tags {
  margin-top: 15px;
  margin-bottom: 5px;
}
@media screen and (max-width: 679px) {
  .detail-tags {
    margin-top: 5px;
    margin-bottom: 8px;
  }
}

.tag-type {
  font-size: 14px;
  color: #83828c;
  margin-top: 5px;
}
@media screen and (max-width: 679px) {
  .tag-type {
    font-size: 12px;
  }
  .tag-type .label {
    float: right;
  }
}

.keywords {
  color: #83828c;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 12px;
}
.keywords .keyword {
  padding-right: 10px;
  position: relative;
}
.keywords .keyword:not(:last-child):before {
  content: "/";
  position: absolute;
  right: 0;
}
@media screen and (max-width: 679px) {
  .keywords .keyword {
    display: inline-block;
  }
}
@media screen and (max-width: 679px) {
  .keywords {
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 12px;
  }
}

.detail-summary {
  margin-top: 17px;
}
.detail-summary .list-ol {
  margin-bottom: 40px;
}
@media screen and (max-width: 679px) {
  .detail-summary .list-ol {
    margin-bottom: 12px;
  }
}

.detail-reputation {
  margin-top: 40px;
  margin-left: -85px;
  margin-right: -85px;
  background-color: #fff8e5;
  padding: 0 85px 38px;
}
@media screen and (max-width: 679px) {
  .detail-reputation {
    margin-left: -15px;
    margin-right: -15px;
    padding: 0 15px 38px;
  }
}

.reviews {
  background-color: #ffbf00;
  margin-left: -85px;
  margin-right: -85px;
  margin-bottom: 31px;
  padding: 7px 85px;
}
.reviews span {
  font-size: 20px;
  font-weight: bold;
}
.reviews img {
  margin-top: -7px;
}
@media screen and (max-width: 679px) {
  .reviews {
    margin-left: -15px;
    margin-right: -15px;
    padding: 6px 20px;
  }
  .reviews span {
    font-size: 14px;
  }
  .reviews img {
    width: 15px;
    margin-top: -2px;
  }
}

.detail-info .table-block {
  margin-top: 25px;
}
@media screen and (max-width: 679px) {
  .detail-info .table-block {
    margin-top: 12px;
    margin-bottom: 41px;
  }
}

.map-text {
  font-size: 15px;
  margin-bottom: 6px;
}
.map-text.nth-map {
  margin-top: 33px;
}
@media screen and (max-width: 679px) {
  .map-text {
    font-size: 13px;
    margin-top: 12px;
  }
  .map-text.nth-map {
    margin-top: 16px;
  }
}

.recommends {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}
.recommends .eventcard {
  float: left;
  max-width: 340px;
  position: relative;
}

.event-group {
  margin-top: 46px;
}
.event-group:before, .event-group:after {
  content: " ";
  display: table;
}
.event-group:after {
  clear: both;
}
.event-group h3 {
  color: #888;
  font-weight: normal;
}
@media screen and (max-width: 679px) {
  .event-group h3 {
    margin-bottom: -10px;
  }
}

.banners {
  margin-top: 40px;
}

hr {
  height: 1px;
  background-color: #e6edf2;
}

.table-none-bordered {
  margin-bottom: 5px;
}
@media screen and (max-width: 679px) {
  .table-none-bordered {
    margin-bottom: -5px;
  }
}

.img-ads {
  margin-bottom: 20px;
}

@media screen and (min-width: 680px) {
  .mobile-br {
    display: none;
  }
}
.slick-prev, .slick-next {
  background: transparent no-repeat center center;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 999;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  top: 42%;
}
.slick-prev:hover, .slick-next:hover {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
html:target .slick-prev:hover, html:target .slick-prev:active, html:target .slick-prev:focus, html:target .slick-next:hover, html:target .slick-next:active, html:target .slick-next:focus {
  outline: 1px solid 0;
}

.slick-prev {
  left: -10px;
  background-image: url("/img/ico_arrow-prev.png");
}

.slick-next {
  right: 160px;
  background-image: url("/img/ico_arrow-next.png");
}
