<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>503 Service Unavailable | Tamago</title>
<!--[if lt IE 9]>
<script src="/js/lib/html5shiv-printshiv.js"></script>
<script src="/js/lib/selectivizr-min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/lib/normalize.css" />
<link rel="stylesheet" href="/css/common/common.css" />
</head>
<body class="single">
<div id="wrap">
<h1 id="global-logo"><img alt="logo" height="120" src="/img/common/logo.png" width="120" /></h1>
<div id="contents">
<div id="main">
<h2>ただいまメンテナンス中です</h2>
<p>申し訳ございませんがしばらくお待ちください</p>
</div><!-- /#main -->
</div>
</div>
<footer>
<small>Powered by TAMAGO CMS &copy; 1PAC. INC.</small>
</footer>
</body>
</html>
