@charset "UTF-8";

// library
@import "../../shared/variables";
@import "../../shared/mixins";

#content {
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 60px;
  @include mediaquery-sm() {
    padding-top: 22px;
  }
}

.box-main {
  background-color: $color-white;
  padding: 62px 85px 53px;
  @include mediaquery-sm {
    padding: 15px 15px 30px;
  }
}

.reset-password, .change-password {
  h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e6edf2;
  }
  @include mediaquery-sm() {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


#reset-pw, #change-pw {
  margin-top: 35px;
  @include mediaquery-sm() {
    margin-top: 20px;
  }
}

.text-link {
  color: #187fc4;
}

.btn-password-container {
  text-align: center;
  margin-top: 5px;
}

.btn-submit {
  background-color: #187fc4;
  color: $color-white;
  border: 1px solid #075386;
  width: 150px;
  padding: 10px;
  &:hover,&:active, &.active {
    background-color: lighten(#187fc4, 6%);
    border: 1px solid #187fc4;
  }
}

.btn-cancel {
  background-color: #f5f7fa;
  color: #83828c;
  border: 1px solid #d3dae0;
  width: 150px;
  padding: 10px;
  &:hover,&:active, &.active {
    background-color: lighten(#f5f7fa, 6%);
  }
}

.row {
  &.row-pw {
    margin-bottom: 20px;
  }
}

.col {
  &.col-offset-1 {
    &.col-title {
      margin-top: 10px;
      padding-right: 5px;
      @include mediaquery-sm() {
        text-align: left;
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

.input-text {
  &.percent-90 {
    width: 100%;
  }
}
