#content {
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 679px) {
  #content {
    padding-top: 22px;
  }
}

.box-main {
  background-color: #fff;
  padding: 62px 85px 53px;
}
@media screen and (max-width: 679px) {
  .box-main {
    padding: 15px 15px 30px;
  }
}

.reset-password h2 {
  font-size: 24px;
  text-align: center;
  padding-bottom: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6edf2;
}
@media screen and (max-width: 679px) {
  .reset-password .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#reset-pw {
  margin-top: 35px;
}
@media screen and (max-width: 679px) {
  #reset-pw {
    margin-top: 20px;
  }
}

.text-link {
  color: #187fc4;
}

.btn-password-container {
  text-align: center;
  margin-top: 5px;
}

.row.row-pw {
  margin-bottom: 20px;
}

.col.col-offset-1.col-title {
  margin-top: 10px;
  padding-right: 5px;
}
@media screen and (max-width: 679px) {
  .col.col-offset-1.col-title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.col.col-input {
  margin-left: -100px;
}
@media screen and (max-width: 679px) {
  .col.col-input {
    margin-left: 0;
  }
}

.input-text.percent-90 {
  width: 100%;
}
