.container {
  max-width: 100%;
}

*:focus {
  outline: none;
}

.btn.btn-more {
  margin-bottom: 60px;
}

.promotions .main-slideshow {
  height: 460px;
}
.promotions .main-slideshow .slick-arrow {
  height: 60px;
  width: 60px;
  position: absolute;
  top: 200px;
  overflow: hidden;
  text-indent: 9999px;
  z-index: 1010;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.promotions .main-slideshow .slick-arrow.slick-prev {
  background-image: url("/img/btn-prev.png");
}
.promotions .main-slideshow .slick-arrow.slick-next {
  background-image: url("/img/btn-next.png");
}
@media screen and (max-width: 679px) {
  .promotions .main-slideshow .slick-arrow {
    height: 30px;
    width: 30px;
    top: 100px;
  }
}
.promotions .main-slideshow .slick-slide {
  width: 1000px;
  height: 460px;
  overflow: hidden;
  position: relative;
}
.promotions .main-slideshow .slick-slide .slideshow-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.promotions .main-slideshow .slick-slide img {
  height: auto;
  width: 100%;
}
.promotions .main-slideshow .slick-slide:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.promotions .main-slideshow .slick-slide.slick-center:after {
  opacity: 0;
}

.search > div {
  margin: 10px 0;
}

.search-area {
  padding: 10px 0;
  background-color: #fff;
  margin-bottom: 15px;
}
.search-area .btn {
  min-width: inherit;
  padding: 10px;
  font-size: 12px;
  margin-right: 5px;
}
.search-area ul li {
  float: left;
}
.search-area ul:before, .search-area ul:after {
  content: " ";
  display: table;
}
.search-area ul:after {
  clear: both;
}
.search-area .form-wrapper {
  padding-bottom: 10px;
}
.search-area .search-result-info {
  padding: 10px 0;
  border-top: 1px solid #d3dae0;
}
.search-area .search-result-info .lbl-text {
  float: left;
  color: #83828c;
}
.search-area .search-result-info .search-info-text {
  padding-left: 10px;
  float: left;
}
.search-area .search-result-info .search-info-text .slash {
  color: #ccc;
}
.search-area .search-result-info .total-event {
  float: right;
}
.search-area .search-result-info:before, .search-area .search-result-info:after {
  content: " ";
  display: table;
}
.search-area .search-result-info:after {
  clear: both;
}
.search-area .search-select {
  width: 916px;
  border: 1px solid #d3dae0;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
.search-area .search-select .selectpicker {
  width: 170px;
  height: 40px;
  position: relative;
  border-left: 1px solid #d3dae0;
}
.search-area .search-select .selectpicker .select2-container .select2-selection--single {
  border: 0 none;
  background-color: #fff;
  color: #333;
}
.search-area .search-select .selectpicker .select2-container .select2-selection--single .select2-selection__placeholder {
  background-color: #f5f7fa;
  color: #83828c;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  width: 100%;
}
.search-area .search-select .selectpicker select {
  font-size: 14px;
  color: #83828c;
  width: 100%;
  height: 100%;
  background: #f5f7fa url("/img/select-arrow.png") right center no-repeat;
  border-left: 1px solid #d3dae0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 20px;
}
.search-area .search-select .selectpicker.held-area {
  width: 150px;
  border-left-width: 0;
  border-right: 1px solid #d3dae0;
}
.search-area .search-select .icon-date-to {
  width: 34px;
  height: 40px;
  background-color: #f5f7fa;
  color: #83828c;
  line-height: 40px;
  text-align: center;
}
.search-area .search-select .date-picker {
  width: 195px;
  height: 40px;
  position: relative;
}
.search-area .search-select .date-picker input {
  padding-left: 20px;
  width: 100%;
  height: 100%;
  background: #f5f7fa url("/img/icon-calendar.png") no-repeat 92% center;
  cursor: pointer;
}
.search-area .search-select .date-picker input.has-value {
  background-color: #fff;
}
.search-area .search-select .search-text {
  width: 100%;
  height: 40px;
  position: relative;
  border-bottom: 1px solid #d3dae0;
}
.search-area .search-select .search-text:before {
  content: "";
  height: 40px;
  width: 40px;
  background: url("/img/icon-search.png") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
}
.search-area .search-select .search-text .input {
  color: #333;
  padding-left: 40px;
  background-color: #f5f7fa;
  width: 100%;
  height: 100%;
  font-size: 14px;
  margin: 0;
  border: 0 none;
  border-radius: 0;
}
.search-area .btn-eventsearch {
  width: 84px;
  height: 82px;
  border: 1px solid #d3dae0;
  border-left-width: 0;
  border-radius: 0 4px 4px 0;
}
.search-area .btn-eventsearch input {
  width: 100%;
  height: 100%;
  background-color: #187fc4;
  margin: 0;
  border-radius: 0;
}
.search-area .btn-eventsearch input:hover {
  background-color: #0088e3;
}
.search-area .toggle {
  padding: 10px 0;
  margin: 0;
}
.search-area .toggle .lbl-text {
  font-weight: normal;
  width: 84px;
  float: left;
  margin-top: 6px;
  color: #83828c;
}
.search-area .toggle .lbl-text.keyword-group {
  height: 70px;
}
.search-area .toggle .btn-group {
  width: 916px;
  float: left;
}
.search-area .toggle:before, .search-area .toggle:after {
  content: " ";
  display: table;
}
.search-area .toggle:after {
  clear: both;
}

@media screen and (max-width: 679px) {
  .promotions .main-slideshow {
    height: 230px;
  }
  .promotions .main-slideshow .slick-slide {
    height: 230px;
    width: 335px;
  }
  .promotions .main-slideshow .slick-slide .slideshow-info {
    font-size: 14px;
    padding: 10px;
  }

  .search-area .search-select {
    width: 68.7%;
  }
  .search-area .search-select .search-text .input {
    font-size: 13px;
    padding-left: 30px;
  }
  .search-area .form-wrapper {
    padding-bottom: 5px;
    margin: 5px 0;
  }
  .search-area .search-result-info {
    border-top-width: 0;
    border-bottom: 1px solid #d3dae0;
    padding-bottom: 20px;
  }
  .search-area .search-result-info .lbl-text {
    font-size: 10px;
    float: none;
    display: block;
    padding-bottom: 10px;
  }
  .search-area .search-result-info .search-info-text {
    padding-left: 0;
  }
  .search-area .btn-eventsearch {
    width: 31.3%;
    height: 42px;
  }
  .search-area .btn-searchmenu {
    padding-top: 10px;
  }
  .search-area .btn-searchmenu a {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 680px) and (max-width: 999px) {
  .promotions .main-slideshow .slick-slide {
    width: 680px;
  }

  .search-area .search-result-info {
    border-top-width: 0;
    border-bottom: 1px solid #d3dae0;
    padding-bottom: 20px;
  }
  .search-area .form-wrapper {
    padding-bottom: 5px;
    margin: 5px 0;
  }
  .search-area .container {
    padding: 0 15px;
  }
  .search-area .search-select {
    width: 68.7%;
  }
  .search-area .btn-eventsearch {
    width: 31.3%;
    height: 42px;
  }
  .search-area .btn-searchmenu {
    padding-top: 10px;
  }
  .search-area .btn-searchmenu a {
    display: block;
    text-align: center;
  }
}
