#content {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 679px) {
  #content {
    padding-top: 22px;
    font-size: 12px;
  }
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
  font-weight: normal;
  line-height: 1.7;
  color: inherit;
}
#content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
#content h2 {
  font-size: 20px;
  margin: 20px 0;
}
#content h3 {
  font-size: 20px;
  margin: 20px 0 15px;
}
#content p {
  font-size: 15px;
  line-height: 2;
}
@media screen and (max-width: 679px) {
  #content p {
    font-size: 12px;
  }
}
#content .paragraph {
  margin-top: 5px;
  margin-bottom: 15px;
}
@media screen and (max-width: 679px) {
  #content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  #content h2 {
    font-size: 16px;
    margin: 10px 0;
  }
  #content h3 {
    font-size: 14px;
    margin: 10px 0;
  }
  #content .paragraph {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.box-main {
  padding: 48px 85px 33px;
}
@media screen and (max-width: 679px) {
  .box-main {
    padding: 15px 15px 30px;
  }
}

.privacy ol li {
  line-height: 2;
  margin-bottom: 20px;
}
