#content {
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 679px) {
  #content {
    padding-top: 22px;
    font-size: 12px;
  }
}

.box-main {
  padding: 48px 85px 33px;
}
@media screen and (max-width: 679px) {
  .box-main {
    padding: 15px 15px 30px;
  }
}

.privacy h2 {
  font-size: 20px;
}
.privacy ol li {
  line-height: 2;
  margin-bottom: 20px;
}
