@charset "UTF-8";

// library
@import "../../shared/variables";
@import "../../shared/mixins";

#content {
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 60px;
  @include mediaquery-sm() {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.box-main {
  background-color: $color-white;
  padding: 62px 85px 33px;
  border-radius: 3px;
  @include mediaquery-sm {
    padding: 15px 15px 30px;
  }
}

.signup {
  h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e6edf2;
  }
  @include mediaquery-sm() {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

#signup-form {
  margin-top: 35px;
  @include mediaquery-sm() {
    margin-top: 15px;
  }
}
.text-link {
  color: #187fc4;
}

.keywords {
  .label-gray {
    margin-bottom: 10px;
    margin-right: 3px;
    @include mediaquery-sm() {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
}

.terms {
  margin-bottom: 10px;
  @include mediaquery-sm() {
    margin-bottom: 5px;
    font-size: 12px;
  }
}


.btn-signup {
  background-color: #187fc4;
  color: $color-white;
  border: 1px solid #075386;
  width: 150px;
  padding: 10px;
  &:hover, &:active, &.active {
    background-color: lighten(#187fc4, 6%);
    border: 1px solid #187fc4;

  }
}

@include mediaquery-sm() {
  .input-label {
    padding: 2px;
  }
}

.row {
  &.row-register {
    margin-bottom: 20px;
    &.message {
      margin-top: 57px;
      margin-bottom: 35px;
      @include mediaquery-sm() {
        margin-top: 27px;
        margin-bottom: 15px;
      }
    }
    &.receive-news {
      margin-top: 70px;
      margin-bottom: 67px;
      @include mediaquery-sm() {
        margin-top: 35px;
        margin-bottom: 30px;
      }
    }
  }
}

.col {
  &.btn-signup-container {
    text-align: center;
  }
  &.col-title {
    margin-top: 10px;
    @include mediaquery-sm() {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  &.col-input {
    margin-left: -60px;
    @include mediaquery-sm() {
      margin-left: 0;
    }
  }
}
