@charset "UTF-8";

// library
@import "../../shared/variables";
@import "../../shared/mixins";

#content {
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 60px;
}

.box-main {
  background-color: $color-white;
  padding: 58px 85px 53px;
  @include mediaquery-sm {
    padding: 15px 15px 30px;
  }
}

.signup {
  h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
  }
}

hr {
  height: 1px;
  background-color: #e6edf2;
}

#signup-form {
  margin-top: 30px;
  .input-text {
    width: 100%;
  }
}

.text-link {
  color: #187fc4;
}

.table-form {
  margin: 0 auto;
  max-width: 660px;
  th,td {
    text-align: left;
  }
  .btn-signup-container {
    text-align: center;
    padding-bottom: 0;
    .terms {
      margin-bottom: 10px;
    }
  }
  td.keywords {
    max-width: 525px;
  }
  .label-gray {
    margin-bottom: 10px;
    margin-right: 5px;
  }
  th {
    &.keyword-title {
      vertical-align: top;
      padding-top: 15px;
    }
    &.message {
      padding-top: 45px;
      padding-bottom: 25px;
    }
    &.receive-message {
      padding-top: 55px;
      padding-bottom: 58px;
    }
  }
}



.btn-signup {
  background-color: #187fc4;
  color: $color-white;
  border: 1px solid #075386;
  width: 150px;
  padding: 10px;
  &:hover, &:active, &.active {
    background-color: lighten(#187fc4, 6%);
    border: 1px solid #187fc4;

  }
}



*:focus {
  outline: none;
}

.input-text {
  border: 1px solid #d3dae0;
  border-radius: 3px;
  padding: 9px 10px;
  width: 400px;
  font-size: 14px;
  background-color: #f5f7fa;
  @include placeholder(#83828c);
  @include mediaquery-sm() {
    width: 100%;
  }
}

.input-label {
  color: #333;
  padding: 15px 20px;
  background-color: #f5f7fa;
  font-size: 13px;
  border-radius: 3px;
  .check-box {
    margin-top: -5px;
    margin-right: 10px;
    &:before{
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #d3dae0;
      border-radius: 3px;
      content: "";
      background: #FFF;
    }
    &:checked:before{
      background-image: url('/img/ico_checkbox-checked.jpg');
      width: 16px;
      height: 15px;
    }
  }
  &:hover, &:active, &:focus {
    background-color: #dcf5e7;
  }
  @include mediaquery-sm() {
    padding: 0;
    font-size: 12px;
  }
}

.table-form {
  color:$color-gray-light;
  font-size: 14px;
  th {
    color: #333;
    font-weight: normal;
    padding-right: 15px;
  }
  th,td {
    padding: 10px 0;
  }
  @include mediaquery-sm {
    overflow-x: auto;
    display: block;
    font-size: 13px;
    tbody, tr, th,td {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
}

.label {
  color:$color-white;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
}

.label-gray {
  color: #83828c;
  border: 1px solid #d3dae0;
  background-color: #f5f7fa;
  padding:6px 8px;
}

.selectpicker {
  .select2-container {
    .select2-results__option--highlighted[aria-selected] {
      background-color: #f5f7fa;
      color: $color-gray-dark;
    }
    .select2-selection--single {
      height: 40px;
      border-radius: 3px;
      background-color: #f5f7fa;
      border-color: #d3dae0;
      .select2-selection__arrow {
        background: url("/img/select-arrow.jpg") right center no-repeat;
        height: 40px;
        top: 0;
        right: 20px;
        b {
          display: none;
        }
      }
      .select2-selection__rendered {
        line-height: 40px;
        color: #83828c;
      }
    }
  }
}

.select2-container--default{
  &.select2-container--open {
    &.select2-container--below {
      .select2-selection--single {
        background-color: lighten(#f5f7fa, 6%);
      }
    }
  }
}
