@charset "UTF-8";

// library
@import "../../shared/variables";
@import "../../shared/mixins";

#content {
  background-color: #e3e3e3;
  padding-top: 40px;
  padding-bottom: 60px;
  @include mediaquery-sm() {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.box-main {
  background-color: $color-white;
  padding: 62px 85px 33px;
  border-radius: 3px;
  @include mediaquery-sm {
    padding: 15px 15px 30px;
  }
}

.signup {
  h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 3px;
    margin-bottom: 5px;
    border-bottom: 1px solid #e6edf2;
  }
  @include mediaquery-sm() {
    .container {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

#signup-form {
  margin-top: 35px;
  @include mediaquery-sm() {
    margin-top: 15px;
  }
}
.text-link {
  color: #187fc4;
}

.keywords {
  .label-gray {
    margin-bottom: 10px;
    margin-right: 3px;
    @include mediaquery-sm() {
      margin-bottom: 5px;
      margin-right: 0;
    }
  }
}

.terms {
  margin-bottom: 10px;
  @include mediaquery-sm() {
    margin-bottom: 5px;
    font-size: 12px;
  }
}


.btn-signup {
  background-color: #187fc4;
  color: $color-white;
  border: 1px solid #075386;
  width: 150px;
  padding: 10px;
  &:hover, &:active, &.active {
    background-color: lighten(#187fc4, 6%);
    border: 1px solid #187fc4;

  }
}

*:focus {
  outline: none;
}

.input-text {
  border: 1px solid #d3dae0;
  border-radius: 3px;
  padding: 9px 10px;
  font-size: 14px;
  background-color: #f5f7fa;
  @include placeholder(#83828c);
  @include mediaquery-sm() {
    width: 100%;
  }
}

.input-label {
  color: #333;
  padding: 15px 20px;
  background-color: #f5f7fa;
  font-size: 13px;
  border-radius: 3px;
  .check-box {
    margin-top: -5px;
    margin-right: 10px;
    &:before{
      position: relative;
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #d3dae0;
      border-radius: 3px;
      content: "";
      background: #FFF;
    }
    &:checked:before{
      background-image: url('/img/ico_checkbox-checked.jpg');
      width: 16px;
      height: 15px;
    }
  }
  &:hover, &:active, &:focus {
    background-color: #dcf5e7;
  }
  @include mediaquery-sm() {
    padding: 10px 5px;
    font-size: 12px;
    .check-box {
      margin-top: 0;
      margin-right: 5px;
    }
  }
}


.label {
  color:$color-white;
  font-size: 12px;
  border-radius: 3px;
  padding: 0 10px;
  display: inline-block;
}

.label-gray {
  color: #83828c;
  border: 1px solid #d3dae0;
  background-color: #f5f7fa;
  padding:6px 8px;
}

.selectpicker {
  .select2-container {
    .select2-results__option--highlighted[aria-selected] {
      background-color: #f5f7fa;
      color: $color-gray-dark;
    }
    .select2-selection--single {
      height: 40px;
      border-radius: 3px;
      background-color: #f5f7fa;
      border-color: #d3dae0;
      .select2-selection__arrow {
        background: url("/img/select-arrow.jpg") right center no-repeat;
        height: 40px;
        top: 0;
        right: 20px;
        b {
          display: none;
        }
      }
      .select2-selection__rendered {
        line-height: 40px;
        color: #83828c;
      }
    }
  }
}

.select2-container--default{
  &.select2-container--open {
    &.select2-container--below {
      .select2-selection--single {
        background-color: lighten(#f5f7fa, 6%);
      }
    }
    .select2-dropdown--below {
      border-width: 0;
    }
  }
  .select2-results__option {
    border-width: 0 1px 1px;
    border-style :solid;
    border-color: #d3dae0;
    padding: 9px;
    &.select2-results__option--highlighted[aria-selected],
    &.select2-results__option[aria-selected=true] {
      background-color: #f5f7fa;
      color: #333;
    }
  }

}

.row {
  &.row-register {
    margin-bottom: 20px;
    &.message {
      margin-top: 57px;
      margin-bottom: 35px;
      @include mediaquery-sm() {
        margin-top: 27px;
        margin-bottom: 15px;
      }
    }
    &.receive-news {
      margin-top: 70px;
      margin-bottom: 67px;
      @include mediaquery-sm() {
        margin-top: 35px;
        margin-bottom: 30px;
      }
    }
  }
}

.col {
  &.btn-signup-container {
    text-align: center;
  }
  &.col-title {
    margin-top: 10px;
    @include mediaquery-sm() {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  &.col-input {
    margin-left: -60px;
    @include mediaquery-sm() {
      margin-left: 0;
    }
  }
}
