@charset "UTF-8";

// library
@import "./shared/variables";
@import "./shared/mixins";


#content {
  padding-top: 40px;
  padding-bottom: 60px;
  @include mediaquery-sm() {
    padding-top: 22px;
    font-size: 12px;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: $line-height-narrow;
    color: $headings-color;
  }

  h1 {
    font-size: $font-size-h1;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 20px;
    margin: 20px 0;
  }

  h3 {
    font-size: $font-size-h3;
    margin: 20px 0 15px;
  }

  //通常の段落
  p {
    font-size: $font-size-base;
    line-height: $line-height-base;
    @include mediaquery-sm() {
      font-size: 12px;
    }
  }

  .paragraph {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  @include mediaquery-sm() {
    h1 {
      font-size: $font-size-h1-sm;
      margin-bottom: 10px;
    }
    h2 {
      font-size: $font-size-h2-sm;
      margin: 10px 0;
    }
    h3 {
      font-size: $font-size-h3-sm;
      margin: 10px 0;
    }
    .paragraph {
      margin-top: $margin-v-paragraph-sm;
      margin-bottom: $margin-v-paragraph-sm;
    }

  }

}

.box-main {
  padding: 48px 85px 33px;
  @include mediaquery-sm {
    padding: 15px 15px 30px;
  }
}

.privacy {
  ol {
    li {
      line-height: 2;
      margin-bottom: 20px;
    }
  }
}
