@import "shared/variables";
@import "shared/mixins";

$btn-color-blue: #187fc4;
$btn-color-gray: #f5f7fa;
$color-border-search: #d3dae0;
.container{
  max-width:100%;
}
@include mediaquery-lg(){
  .search-menu-area{
    display: none !important;
  }
}
@include mediaquery-sm(){
  .search > div{
    margin:10px 0;
  }
  .select2-container{
    z-index: $zindex-popup;
  }
  .search-menu-area{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    overflow: scroll;
    z-index: $zindex-popup;
    .container{
      padding: 0 20px;
      border-top:1px solid $color-border-search;
    }
    .toggle-box{
      display: none;
    }
    .modal-close{
      border-width: 0;
      padding-top:10px;
      padding-bottom: 20px;
      text-align: right;
    }
    .submit{
      border-top: 1px solid $color-border-search;
      padding:20px 0;
      text-align: center;
      display: block;
      &:focus{
        background-color: $color-blue;
        color:#fff;
      }
    }
    padding-top: 10px;
    background-color: #fff;
    .btn{
      min-width: inherit;
      padding: 10px;
      font-size: $font-size-small;
      margin-right:5px;
    }
    ul{
      li{
        float: left;
      }
      @include clearfix();
    }
    .form-wrapper{
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border-search;
    }
    .search-result-info{
      padding: 10px 0;
      .lbl-text{
        float: left;
        color: $color-gray-light;
      }
      .search-info-text{
        float: left;
      }
      .total-event{
        float:right;
      }
      @include clearfix();
    }

      .selectpicker{
        width:100%;
        height: 50px;
        border-top: 1px solid $color-border-search;
        .select2-container{
          min-width: 100%;
          z-index: $zindex-popup;
          .select2-selection--single{
            height:50px;
            border:0 none;
            .select2-selection__rendered,
            .select2-selection__arrow{
              line-height: 50px;
              height: 100%;
              right:18px;
              font-size: 12px;
            }
          }
        }
        select{
          font-size: $font-size-base;
          color:$color-gray-light;
          width: 100%;
          height: 100%;
          background: $btn-color-gray url("/img/select-arrow.png") right center no-repeat;
          border-left:1px solid $color-border-search;
          border-radius:0;
          box-shadow: none;
          padding-left:20px;
        }

      }

      .date-picker{
        width:100%;
        height:50px;
        position: relative;
        font-size: 12px;
        &:before{
          content: "";
          width:50px;
          height: 50px;
          position: absolute;
          top:0;
          right:8px;
          background: url("/img/icon-calendar.png") no-repeat center center;
        }
        input{
          padding-left:20px;
          width: 100%;
          height: 100%;
          background-color:#fff;
        }
      }

    .btn-eventsearch{
      width:84px;
      height: 82px;
      border: 1px solid $color-border-search;
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
      input{
        width: 100%;
        height:100%;
        background-color: $btn-color-blue;
        margin: 0;
        border-radius: 0;
      }
    }
    .toggle{
      margin:0;
      &.active{
        .lbl-text{
          &:before{
            background-position: right -10px;
          }
        }
      }
      .lbl-text{
        font-size: $font-size-large;
        font-weight: normal;
        color: $color-gray-light;
        padding:19px 0 15px 0;
        position: relative;
        &:before{
          content:"";
          position: absolute;
          top:50%;
          margin-top:-5px;
          right:7px;
          height:10px;
          width:10px;
          background-image: url("/img/searchmenu-arrow.png");
          background-repeat: no-repeat;
          background-position: right top;
          background-size:100% ;
        }
        &.keyword-group{
          height:70px;
        }
      }
      .btn-group{
        float: left;
        padding-bottom: 20px;
        .btn-checkbox{
          background-color: $btn-color-gray;
          color:$color-gray-light;
          input{
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
          }
          &.active{
            background-color: $btn-color-blue;
            color: #fff;
          }
          &:hover{

          }
        }
      }
      @include clearfix();
    }
  }

}
@include  mediaquery-md{
  .search > div{
    margin:10px 0;
  }
  .select2-container{
    z-index: $zindex-popup;
  }
  .search-menu-area{
    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    overflow: scroll;
    z-index: $zindex-popup;
    .container{
      padding: 0 20px;
      border-top:1px solid $color-border-search;
    }
    .toggle-box{
      display: none;
    }
    .modal-close{
      border-width: 0;
      padding-top:10px;
      padding-bottom: 20px;
      text-align: right;
    }
    .submit{
      border-top: 1px solid $color-border-search;
      padding:20px 0;
      text-align: center;
      display: block;
      &:focus{
        background-color: $color-blue;
        color:#fff;
      }
    }
    padding-top: 10px;
    background-color: #fff;
    .btn{
      min-width: inherit;
      padding: 10px;
      font-size: $font-size-small;
      margin-right:5px;
    }
    ul{
      li{
        float: left;
      }
      @include clearfix();
    }
    .form-wrapper{
      padding-bottom: 10px;
      border-bottom: 1px solid $color-border-search;
    }
    .search-result-info{
      padding: 10px 0;
      .lbl-text{
        float: left;
        color: $color-gray-light;
      }
      .search-info-text{
        float: left;
      }
      .total-event{
        float:right;
      }
      @include clearfix();
    }
    .selectpicker{
      width:100%;
      height: 50px;
      border-top: 1px solid $color-border-search;
      .select2-container{
        min-width:100%;
        .select2-selection--single{
          height:50px;
          border:0 none;
          .select2-selection__rendered,
          .select2-selection__arrow{
            line-height: 50px;
            height: 100%;
            right:18px;
            font-size: 12px;
          }
        }
      }
      select{
        font-size: $font-size-base;
        color:$color-gray-light;
        width: 100%;
        height: 100%;
        background: $btn-color-gray url("/img/select-arrow.png") right center no-repeat;
        border-left:1px solid $color-border-search;
        border-radius:0;
        box-shadow: none;
        padding-left:20px;
      }

    }
      .date-picker{
        width:100%;
        height:50px;
        position: relative;
        font-size: 12px;
        &:before{
          content: "";
          width:50px;
          height: 50px;
          position: absolute;
          top:0;
          right:8px;
          background: url("/img/icon-calendar.png") no-repeat center center;
        }
        input{
          padding-left:20px;
          width: 100%;
          height: 100%;
          background-color:#fff;
        }
      }
      .search-text{
        width:100%;
        height:40px;
        position: relative;
        border-bottom: 1px solid $color-border-search;
        &:before{
          content: "";
          height: 40px;
          width:40px;
          background: url("/img/icon-search.png") no-repeat center center;
          position: absolute;
          top:0;
          left:0;
        }
        .input{
          padding-left: 40px;
          background-color: $btn-color-gray;
          width: 100%;
          height: 100%;
          font-size: 14px;
          margin:0;
          border: 0 none;
          border-radius: 0;
        }
      }
    }
    .btn-eventsearch{
      width:84px;
      height: 82px;
      border: 1px solid $color-border-search;
      border-left-width: 0;
      border-radius: 0 4px 4px 0;
      input{
        width: 100%;
        height:100%;
        background-color: $btn-color-blue;
        margin: 0;
        border-radius: 0;
      }
    }
    .toggle{
      margin:0;
      &.active{
        .lbl-text{
          &:before{
            background-position: right top;
          }
        }
      }
      .lbl-text{
        font-size: $font-size-large;
        font-weight: normal;
        color: $color-gray-light;
        padding:19px 0 15px 0;
        position: relative;
        &:before{
          content:"";
          position: absolute;
          top:50%;
          margin-top:-6px;
          right:7px;
          height:6px;
          width:12px;
          background-image: url("/img/searchmenu-arrow.jpg");
          background-repeat: no-repeat;
          background-position: right -6px;
          background-size:100% ;
        }
        &.keyword-group{
          height:70px;
        }
      }
      .btn-group{
        float: left;
        padding-bottom: 20px;
        .btn-checkbox{
          background-color: $btn-color-gray;
          color:$color-gray-light;
          input{
            position: absolute;
            clip: rect(0,0,0,0);
            pointer-events: none;
          }
          &.active{
            background-color: $btn-color-blue;
            color: #fff;
          }
          &:hover{

          }
        }
      }
      @include clearfix();
    }
  }
