// ---------------------------------------------------
// グリッドシステム
//
@mixin container() {
  position: relative;

  @include box-sizing(border-box);

  width: $container-width;// + ($container-padding-side * 2); // 1008 + (8*2) = 1024
  max-height: 100%;

  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-side;
  padding-right: $container-padding-side;

  -webkit-text-size-adjust: none;

  .container,
  .container-full {
    width: auto;
    min-width: initial;
    padding-left:0;
    padding-right:0;
  }

  @include mediaquery-sm() {
    width:auto;
    padding-left: $container-padding-side-sm;
    padding-right: $container-padding-side-sm;
  }
}

@mixin container-full() {
  position: relative;
  @include box-sizing(border-box);

  width: 100%;
  min-width: $container-width;// + ($container-padding-side * 2); // 1008 + (8*2) = 1024

  margin-left: auto;
  margin-right: auto;
  padding-left:0;
  padding-right:0;

  font-size: 0;

  @include mediaquery-sm() {
    width:auto;
    min-width:inherit;
  }
  .row-no-gutter,
  .row-md-no-gutter,
  .row-sm-no-gutter {
    padding-left:0;
    padding-right:0;
  }
  .container,
  .container-full {
    width:initial;
    max-width: initial;
  }
}

@mixin row() {
  position: relative;
  @include box-sizing(border-box);

  margin-left:  -$col-gutter-half;
  margin-right: -$col-gutter-half;
  padding-left:0;
  padding-right:0;

  font-size: 0.000001px;
  letter-spacing: -1em;

  @include mediaquery-sm() {
    margin-left:  -$col-gutter-half-sm;
    margin-right: -$col-gutter-half-sm;
  }
}

@mixin row-no-gutter() {
  margin-left: 0;
  margin-right: 0;
  padding-left:0;
  padding-right:0;

  [class*=col-] {
    padding-left:0;
    padding-right:0;
  }

  @include mediaquery-sm() {
    padding-left:0;
    padding-right:0;
  }
}

@mixin col() {
  position: relative;
  display: inline-block;
  @include box-sizing(border-box);

  width: 100%;

  padding-left: $col-gutter-half;
  padding-right:$col-gutter-half;

  vertical-align: top;
  text-align: left;
  letter-spacing: $letter-spacing-base;
  font-size: $font-size-base;

  @include mediaquery-sm() {
    padding-left: $col-gutter-half-sm;
    padding-right:$col-gutter-half-sm;
    letter-spacing: $letter-spacing-base-sm;
  }
}
