#content {
  background-color: #e3e3e3;
  color: #333;
  padding-top: 40px;
  padding-bottom: 60px;
}
@media screen and (max-width: 679px) {
  #content {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 999px) {
  .container {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}
.box-main {
  border-top: 10px solid #2c7996;
  background-color: #fff;
  padding: 50px 85px 33px;
  border-radius: 3px;
  margin-bottom: 195px;
}
@media screen and (max-width: 679px) {
  .box-main {
    border-top: 5px solid #2c7996;
    padding: 20px 15px 30px;
    margin-bottom: 0;
  }
}

.setting-header {
  font-size: 24px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e6edf2;
}
@media screen and (max-width: 679px) {
  .setting-header {
    font-size: 12px;
    padding-bottom: 3px;
  }
}

#setting-form {
  margin: 35px 35px 0 27px;
}
@media screen and (max-width: 679px) {
  #setting-form {
    margin: 15px 0 0;
  }
}

.text-link {
  color: #187fc4;
}

.btn-checkbox {
  background-color: #f5f7fa;
  color: #83828c;
  min-width: auto;
  padding: 5px;
}
.btn-checkbox input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-checkbox.active {
  background: #187fc4;
  color: #fff;
}
.btn-checkbox.active:hover {
  background-color: #187fc4;
  color: #fff;
}
.btn-checkbox:hover {
  background: #fff;
  color: #83828c;
}
@media screen and (max-width: 679px) {
  .btn-checkbox {
    font-size: 12px;
  }
}

.terms {
  margin-bottom: 10px;
}
@media screen and (max-width: 679px) {
  .terms {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 679px) {
  .input-label {
    padding: 2px;
  }
}
.selectpicker .select2-container .select2-results__option--highlighted[aria-selected] {
  background-color: #f5f7fa;
  color: #333;
}
.selectpicker .select2-container .select2-selection--single {
  height: 40px;
  border-radius: 3px;
  border-color: #d3dae0;
}
.selectpicker .select2-container .select2-selection--single .select2-selection__arrow {
  background: url("/img/select-arrow.jpg") right center no-repeat;
  height: 40px;
  top: 0;
  right: 20px;
}
.selectpicker .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.selectpicker .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 40px;
  color: #83828c;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  background-color: white;
}
.select2-container--default.select2-container--open .select2-dropdown--below {
  border-width: 0;
}
.select2-container--default .select2-results__option {
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #d3dae0;
  padding: 9px;
}
.select2-container--default .select2-results__option.select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option.select2-results__option[aria-selected=true] {
  background-color: #f5f7fa;
  color: #333;
}

.row.row-setting {
  margin-bottom: 20px;
}
.row.row-setting.message {
  margin-top: 57px;
  margin-bottom: 35px;
}
@media screen and (max-width: 679px) {
  .row.row-setting.message {
    margin-top: 27px;
    margin-bottom: 15px;
  }
}
.row.row-setting.receive-news {
  margin-top: 70px;
  margin-bottom: 67px;
}
@media screen and (max-width: 679px) {
  .row.row-setting.receive-news {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}

.col.btn-setting-container {
  text-align: center;
}
.col.btn-setting-container .btn {
  margin: 7px 8px;
}
@media screen and (max-width: 679px) {
  .col.btn-setting-container .btn {
    margin: 5px auto;
  }
}
.col.col-title {
  margin-top: 10px;
}
@media screen and (max-width: 679px) {
  .col.col-title {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
.col.col-input {
  margin-left: -60px;
}
@media screen and (max-width: 679px) {
  .col.col-input {
    margin-left: 0;
  }
}
